# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Data (optional depending on what you want public)
data/interim/
data/processed/

# Outputs
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/